CompileFlags:
  Add:
    - "-I/usr/avr/include"
    - "-I/usr/lib/gcc/avr/16.1.0/include"
    - "-I/usr/lib/gcc/avr/16.1.0/include-fixed"
    - "-I/opt/homebrew/opt/avr-gcc@9/avr/include"
    - "-I/opt/homebrew/opt/avr-gcc@9/lib/avr-gcc/9/gcc/avr/9.5.0/include"
    - "-I/opt/homebrew/opt/avr-gcc@9/lib/avr-gcc/9/gcc/avr/9.5.0/include-fixed"
    - "--target=avr"
    - "-mmcu=attiny85"
    - "-DF_CPU=1000000UL"
    - "-Os"
    - "-D__AVR_ATtiny85__"
